ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 0, 48);
    position: fixed;
    top: 0;
    width: 100%;
    left:0;
    display: flex;
    height: 8%;
  }
  
  li {
    float: left;
    height: auto;
    display: grid;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-family: cursive;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(177, 159, 2);
    color: #000;
    background: opacity 50%;
    margin: auto;
  }

  body {
background-attachment: fixed
} 
